api.lens.org/*
!api.lens.org/*.py

api.uprp.gov.pl/*
!api.uprp.gov.pl/*.py

api.openalex.org/*
!api.openalex.org/*.py

developer.uspto.gov/**/*.*
!developer.uspto.gov/*.py
!developer.uspto.gov/**/*.py

patents.google.com

__pycache__

nohup*.out

*.csv
*.pkl
*.xml

.vscode